.nav{
    top: 0;
    z-index: 9;
    width: 100%;
    display: flex;
    position: fixed;
    overflow: hidden;
    padding: 0.8rem;
    background-color: var(--black-body);
    font-family: "Montserrat", sans-serif;
}
.nav-sticky{
    background-color: var(--black-low);
}
.nav-space{
    width: 100%;
    height: 7vmax;
}
.nav-mobile{
    display: none;
}
.nav-mobile-btn{
    display: none;
}


.scroll-up-btn i {
    display: none;    
}
.scroll-up-btn i{
    color: var(--aqua);
    font-weight: bold;
    cursor: pointer;
    font-size: 1.4rem;
    padding: 0.7rem 0.7rem;
    margin: 0.5rem;
    z-index: 7;
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    border-radius: 50%;
    background: var(--black-high);
    border: 0.1rem solid var(--aqua);  
}
.scroll-up-btn .show{
    display: block;   
}

.nav a{
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.nav h2{
    font-size: 2rem;
    padding: 0.2rem 3rem;
    color: var(--white);
    cursor: pointer;
}
.nav h2 span{
    color: var(--aqua);
}



.nav ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    position: relative;
    left: 20rem;
}
.nav ul li{
    padding: 0.5rem 1rem;
    cursor: pointer;
}
.nav ul li a{
    font-size: 1rem ;
    color: var(--aqua);
    list-style: none;
    text-decoration: none;
}
.nav ul li i{
    font-size: 1rem ;
    padding-right: 0.6rem;
}
.nav ul li a i{
    color: var(--white);
}

.nav ul li:hover{ 
    border: 0.15rem solid var(--aqua);
    border-radius: 0.3rem;
}
.nav ul li:hover>a { 
    color: var(--aqua);
    font-weight: bold;
    text-shadow: 10px 5px 20px var(--aqua);
}

.nav ul li:hover>a>i { 
    color: var(--aqua);
    font-weight: bold;
    text-shadow: 10px 5px 20px var(--aqua);
}

.nav .active{ 
    color: var(--aqua);
    font-weight: bold;
    border-bottom: 0.15rem solid var(--aqua);
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}
.nav .active i{ 
    color: var(--aqua);
    font-weight: bold;
}

@media only screen and (max-width: 1200px) {
    .nav ul{
        left: 8rem;
    }
  }

@media only screen and (max-width: 1000px) {
    .nav-mobile{
        padding: 0;
        margin: 0;
        width: 100%;
        display: flex;
        overflow: hidden;
        position: fixed;
        top: 0;
        z-index: 8;
        background-color: var(--black-body);
        font-family: "Montserrat", sans-serif;
    }
    .nav-mobile-sticky{
        background-color: var(--black-low);
    }
    
    .nav-mobile a{
        list-style: none;
        text-decoration: none;
        padding: 0;
        margin: 0;
    }
    .nav-mobile h2{
        font-size: 2rem;
        padding: 1.5rem 2rem;
        color: var(--white);
        cursor: pointer;
    }
    .nav-mobile h2 span{
        color: var(--aqua);
    }
    .nav-mobile-btn{
        cursor: pointer;
        display: block;
        color: var(--white);
        position: fixed;
        top: 2rem;
        right: 2rem;
    }
    .nav-mobile-btn span i{
        font-weight: bold;
        font-size: 1.4rem;
    }
    .nav-mobile-btn span .btn_active::before{
        content: "x";
    }
    .scroll-up-btn i{
        position: fixed;
        bottom: 1rem;
        right: 1rem; 
    }


    .nav{
        top: 6.5rem;
        right: -300%;
        width: auto;
        display: block;
        position: fixed;
        border-radius: 0.5rem;
        transition: all 0.7s ease;
        background-color: var(--black-low);
        animation: 4s ease;
    }
    nav .nav_active{
        right: 1rem;
        animation: navbar 1s ease-in-out;
    }
    @keyframes navbar{
        0%{
            right: -50%;
        }
        50%{
            right: 1rem;
        }
    }
    .nav h2{
        display: none;
    }   
    .nav ul{
        display: block;
        left: 0%;
    }
    .nav ul li{
        padding: 1rem 2rem;
    }
    .nav ul li a i{
        color: var(--white);
    }
    .nav ul li:hover{ 
        border: none;
        border-radius: none;
    }
    .nav ul li:hover>a { 
        text-shadow: none;
    }
    .nav ul li:hover>a>i { 
        text-shadow: none;
    }
    .nav .active{ 
        color: var(--aqua);
        font-weight: bold;
        border-bottom: 0.15rem solid var(--aqua);
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        padding-right: 0.6rem;
    }
    .nav .active i{ 
        color: var(--aqua);
        font-weight: bold;
    }
  }


  @media only screen and (max-width: 280px) {
    .nav-mobile-btn{
        top: 4rem;
    }

}




