.project .projectbox{
    margin: .5rem;
    border: 2px solid var(--black-body);
}
.project .projectbox img{
    border-top-left-radius: .5rem;
    border-top-right-radius: .5rem;
}
.project .projectbox .details{
    border-left: 2px solid var(--aqua);
    border-right: 2px solid var(--aqua);
    border-bottom: 2px solid var(--aqua);
    border-bottom-left-radius: .5rem;
    border-bottom-right-radius: .5rem;
    padding-bottom: 10px ;
    padding-top: 10px;
    display: flex;
}

.project .projectbox a i{
    color: var(--aqua);
    font-weight: bold;
    font-size: 1.5rem;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
}
.project .projectbox p{
    color: var(--white);
    font-size: 1rem;
    font-weight: bold;
    margin:auto;
    padding-left: 12px;
}