.footer{
    font-family: "Readex-Pro", sans-serif;
    background: var(--black-high);
    padding: 1.5rem 0rem;
    text-align: center;
    color: var(--white);
    font-size: 1rem;
    width: 100%;
}
.footer .author{
    padding-bottom: 8px;
}
.footer .author a{
    font-size: 1.3rem;
    color: var(--aqua);
}
.footer .author a:hover{
    font-size: 1.3rem;
    color: var(--aqua);
}
.footer .author i{
    font-weight: bold;
}